/* fonts */
@font-face {
    font-family: mono-display;
    src: url('fonts/MajorMonoDisplay-Regular.ttf');
}
@font-face {
    font-family: MerriweatherSans-Regular;
    src: url('fonts/MerriweatherSans-Regular.ttf');
}
@font-face {
    font-family: MerriweatherSans-Light;
    src: url('fonts/MerriweatherSans-Light.ttf');
}
@font-face {
    font-family: MerriweatherSans-Bold;
    src: url('fonts/MerriweatherSans-Bold.ttf');
}
@font-face {
    font-family: LibreBaskerville-Regular;
    src: url('fonts/LibreBaskerville-Regular.ttf');
}






html, body{
    /*overflow-x: hidden;*/
}
#wrapper{
    width:100%;
    max-width:1000px;
    margin:0 auto;
}
a:hover, a:active,
a{
    text-decoration: none;
    color:unset;
}
article a, aside a,
article a:hover,
aside a:hover,
aside a:active,
article a:active
{
    text-decoration: underline;
    font-weight:bold;
}
header{
    padding-bottom:0;
}
h1, h2, h3, h4, h5, h6, p{
    margin:0;
}
figure{
    position:relative;
}
figcaption{
    position: absolute;
    font-size: 0.8rem;
    bottom: -8px;
    right: 0px;

}
p{
    font-family:MerriweatherSans-Light,sans-serif;
    font-size:0.9rem;
    word-spacing:0.25rem;
    margin-top: 23px;
    /*margin-bottom: 23px;*/
    text-align:left;
    width:100%;
}
main{
    padding: 30px 0;
}
nav{
    width:100%;
}
ul{
    margin:0;
    padding:0;
}
ul li{

}
h1{
    text-align:center;
    text-transform: uppercase;
    padding:50px 0 10px 0;
    font-family:mono-display,sans-serif;
    font-size:3rem;
    color: hsla(204, 72%, 21%, 0.8);
}
h2{
    font-family: MerriweatherSans-Bold, sans-serif;
    margin: 35px 0 20px 0;
}
#menu-icon{
    display:none;
    padding:10px;

}
#menu-icon img{
    width:35px;
}
.menu-vertical{
    display:block!important;
    transition-property: height;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: ease;
}
.menu-vertical li{
    padding: 5px!important;
}
.active{
    background-color:hsla(204, 72%, 21%, 0.8);;
    color:#fff;
}
nav{

}
#nav-links-hor,
#nav-links{
    display:block;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-around;
    list-style-type: none;
    padding:10px 0;
    font-family:MerriweatherSans-Light, sans-serif;
    /*background-color:wheat;*/
}

#nav-links-hor li,
#nav-links li{
    width:100%;
    height:100%;
    text-align:center;
    padding: 15px;
}

#nav-links-hor li:hover,
#nav-links li:hover{
    background-color:hsla(204, 72%, 21%, 0.8);;
    color:#FFF;
}
.home-banner{
    width:100%;
    display:block;
    position: relative;
}
#img-banner{
    object-fit: cover;
    object-position: top;
    max-width:100%;
    height:auto;
    text-align:center;
}
#text-overlay{
    font-size:18px;
    border: 0px solid #000;
    border-radius: 10px;
    padding:30px;
    max-width:430px;
    width:50%;
    margin:0;
    position:absolute;
    top:160px;
    right: 25px;
    z-index:2;
    color:#FFF;
}
#text-overlay:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.79;
    z-index:-1;
    border: 0px solid #000;
    border-radius: 10px;
}
#about-me{
    /*background-color: lightgoldenrodyellow;*/
}
#uleth-info{
    /*background-color:yellowgreen;*/
}
footer{
    background-color:hsla(204, 72%, 21%, 0.8);;
    color:white;
    padding: 22px 15px;
}
footer p{
display:block;
text-align:center;
}

.footer-links{
    text-align:center;
}

.banner{
    width:100%;
    height:60vh;
    max-height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
}
.parallax{
    background-attachment: fixed;
}

/*still images*/
.gallery{
	flex-direction: row;
	justify-content:center;
	text-align:center;
    padding: 30px 15px;
}
.gallery-photos{
    padding: 30px 3px;
}

.gallery p{
    margin: 23px 0 10px 0;
}
.artwork-title{
    text-align:left;
    padding: 0;
    width:100%;
}

.thumb{
	/*background-color:whitesmoke;*/
	height:240px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	margin:8px;
	padding:0px;
	max-width:315px;

}
.border{
    border: 8px solid white !important;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.src-img,
.large-image{
    /*max-height:100%;*/
    padding:0;
    margin:20px 0;;
    border: 16px solid white !important;
    object-position: center center;
    object-fit: contain;
}
.src-img{
    border: 8px solid white !important;
}

/**/
.url-card{
    margin:30px 20px;
    padding:0px;
    height:200px;
    max-width:315px;
}

.logo{
    background-color:#fff;
    height:20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.description{
    background-color:#fff;
}
.description p{
    font-size:0.75rem;
    text-align: justify;
}

@media (max-width: 1199.98px) { }

@media (max-width: 991.98px) { }

@media (max-width: 990px){
    #text-overlay:before{
        /*background-color: unset;*/
    }
    #nav-links, #nav-links-hor{
        display:none;
    }
    #nav-links .fadeInUp{
        animation-name: fadeIn !important;
    }
	#nav-links li{
		padding:7px;
	}
    #menu-icon{
        display:block;
        float:right;
        position:relative;
        width:10%;
        text-align: right;
    }
    h2{
        margin: 20px 0 8px 0;
    }
    .large-image{
        margin: 7px 0;
    }
    .gallery p{
        margin:10px 0 10px 0;
    }
    .border{
        border: 8px solid white !important;
    }
    header{
        padding: 0 25px;
    }
    header h1{
        display:inline-block;
        padding:20px 0;
        font-size:2.5rem;
        width: 90%;
        text-align: left;
    }
    .banner{
        max-height:275px;
    }
    .flex{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }



}

@media (max-width: 767.98px) {
#text-overlay{
    position:unset;
    max-width:unset;
    width:100%;
    height:unset;
    background-color:#000;
    font-size: 14px;
    padding: 12px;
    text-align:center;
    border-radius: unset;
}
#text-overlay:before{
    border-radius:unset;
    background-color: unset;
}

}


@media (max-width: 575.98px) {
    .src-img {
        max-width: 290px;
    }
}

@media(max-width:500px){
    header{
        padding: 0 14px;
    }
    header h1{
        font-size:1.6rem;
    }
    #menu-icon{
        padding:0;
    }
    #menu-icon img{
        width:25px;
    }
}

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 990px) {
    #nav-links{
        display:none!important;
    }
}

@media (min-width: 1200px) { }